/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  max-width: 1660px;
  margin: 0 auto;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-fluid {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.button {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  padding: 20px 50px;
  border-radius: 100rem;
  background-color: transparent;
  text-decoration: none;
  outline: none;
  border: 0;
}
.button--primary {
  color: white;
  background-color: #458ff6;
}
.button--secondary {
  color: #458ff6;
  background: transparent;
  border: 1px solid currentColor;
}

.global-heading {
  color: black;
  font-weight: bold;
  font-size: 36px;
  line-height: 156%;
  padding-bottom: 26px;
  margin-bottom: 30px;
  position: relative;
}
.global-heading::before {
  content: " ";
  position: absolute;
  width: 56px;
  height: 2px;
  background-color: black;
  left: 0;
  bottom: 0;
}

.global-heading--center {
  text-align: center;
}
.global-heading--center::before {
  left: 50%;
  transform: translateX(-50%);
}

.global-text {
  font-size: 18px;
  line-height: 167%;
}

.header {
  margin-bottom: 80px;
  padding-top: 56px;
}
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 0 40px;
}
.menu-link {
  text-decoration: none;
  font-size: 18px;
  color: inherit;
  transition: all 0.2s linear;
  font-weight: 400;
}
.menu-link:hover {
  color: black;
  font-weight: bold;
}
.menu-toggler {
  display: none;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 300px;
    flex-direction: column;
    align-items: stretch;
    transform: translateX(100%);
    transition: all 0.2s linear;
  }
  .menu-link {
    display: block;
    padding: 15px 25px;
  }
  .menu-toggler {
    display: inline-block;
  }
  .menu-toggler:checked ~ .link {
    display: inline-block;
    transform: translateX(-100%);
  }
}

body {
  font-size: 16px;
  line-height: 1;
  font-family: "Mulish", sans-serif;
  color: #7d7987;
  font-weight: 300;
}

.hero {
  margin-bottom: 190px;
}
.hero-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 34px;
}
.hero-content {
  width: 100%;
  max-width: 445px;
}
.hero-heading {
  font-weight: bold;
  font-size: 48px;
  line-height: 117%;
  margin-bottom: 25px;
  color: black;
}
.hero-desc {
  font-size: 21px;
  line-height: 152%;
  margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .hero-heading {
    font-size: 35px;
  }
  .hero-desc {
    font-size: 18px;
  }
}

.feature-item {
  display: flex;
}
.feature-desc {
  margin-bottom: 20px;
  line-height: 157%;
}

.service {
  margin-bottom: 222px;
  background-image: url(../images/bg1.png);
}
.service-header {
  text-align: center;
  min-width: 952px;
  margin: 0 auto 80px;
}
.service-list {
  display: grid;
  grid-gap: 34px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 71px;
}
.service-item {
  background: #fff;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  padding: 54px 37px 47px;
}
.service-image {
  margin-bottom: 20px;
}
.service-title {
  font-weight: bold;
  font-size: 24px;
  color: black;
  margin-bottom: 20px;
}
.service-desc {
  line-height: 175%;
}
.service-more {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/*# sourceMappingURL=app.css.map */
