@import "./variables";
.wrapper {
   max-width: 1660px;
   margin: 0 auto;
}
.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 20px;
}
.container-fluid {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}
.button {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 50px;
    border-radius: 100rem;
    background-color: transparent;
    text-decoration: none;
    outline: none;
    border: 0;
    &--primary {
        color: white;
        background-color: $primary-color;
    }
    &--secondary {
        color: $primary-color;
        background: transparent;
        border: 1px solid currentColor;
    }
}
.global-heading {
    color: $black;
    font-weight: bold;
    font-size: 36px;
    line-height: 156%;
    padding-bottom: 26px;
    margin-bottom: 30px;
    position: relative;
    &::before {
        content:" ";
        position: absolute; 
        width: 56px;
        height: 2px;
        background-color: $black;
        left: 0;
        bottom: 0;
    }
}
.global-heading--center {
    text-align: center;
    &::before {
        left: 50%;
        transform: translateX(-50%);
    }
}
.global-text {
    font-size: 18px;
    line-height: 167%;
}